<template>
  <div class=" flex flex-col gap-[30px] mb-[60px] overflow-hidden ">

     <div class=" flex flex-col gap-[16px] ">
      <span class="text-dark-black text-[28px] font-[600] ">Enjoy your dream vacation</span>
      <p class="text-Gray2 text-[16px] " >Plan and book our perfect trip with
         expert advice, travel tips, 
         destination information and 
         inspiration from us</p>
     </div>


     <div class=" flex gap-[20px] w-[calc(100%-200px)] overflow-hidden">

      <div class="flex flex-col gap-[14px] ">
        <div class="  ">
          <img class="rounded-[8px] w-[100%] h-[100%]" src="../../assets/imgs/a7422c6a633bfef99d433a171722b018.jpeg" alt="img Australia">
        </div>
        <div class="imgText mb-[8px]">
          <h4>Australia</h4>
          <p>2246 properties</p>
        </div>
      </div>

      <div class="flex flex-col gap-[14px]  ">
       <div class=" ">
         <img class="rounded-[8px] w-[100%] h-[100%]" src="../../assets/imgs/22070dc6b56b6e07bed3823c37b89f30.jpeg" alt="img Japan">
       </div>
       <div class="imgText mb-[8px] ">
        <h4>Japan</h4>
        <p>1278 properties</p>
       </div>
      </div>

      <div class="flex flex-col gap-[14px]  ">
         <div class=" ">
           <img class="rounded-[8px] w-[100%] h-[100%]" src="../../assets/imgs/grees.jpeg" alt="img grees">
         </div>
         <div class="imgText mb-[8px] ">
          <h4>New Zealand</h4>
          <p>480 properties</p>
         </div>
        </div>

        <div class="flex flex-col gap-[14px]  ">
         <div class=" ">
           <img class="rounded-[8px] w-[100%] h-[100%]" src="../../assets/imgs/newsland.jpeg" alt="img Greece">
         </div>
         <div class="imgText mb-[8px] ">
          <h4>Greece</h4>
          <p>320 properties</p>
         </div>
        </div>



     </div>

  </div>
</template>

<script setup>

</script>

<style   scoped>

</style>