<template >
  <div>
      <div class="flex items-center rounded-[8px] absolute top-[582px]  
          h-[72px] py-[20px]
        pl-[24px] gap-[19px] w-[calc(100%-200px)]  bg-yellow-color ">
        <div class="flex items-center py-[5px]   ">
          <img class="w-[32px] h-[32px] " src="../../assets/icons/danger 1.svg" alt="danger">
        </div>
        <p>Check the latest COVID-19 restrictions before you travel .  <a href="#" class="text-primary"> Learn more </a> </p>
      </div>
  </div>
</template>

<script setup>

</script>
 