@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root{
  --primary: #2F80ED ;
  --background-color:#FFF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Display', sans-serif;
}
body{
background-color: #FFF ;
/* color: #2F80ED ; */
}
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
  border-radius: 4px;
  background: #F2F2F2 ;
  border: none;
}
input:focus:not([type="radio"]):not([type="checkbox"]):not([type="submit"])  {
  outline: none;
}
button{
  border: none;
  border-radius: 6px;
}
button:hover , input[type="submit"]:hover {
  background-color: #318afe;
}

/* #app {
  background-color: #a66173;
} */

/* //////////////////////////////////////////////// */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #2F80ED;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(128, 128, 128);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b7dbe ;
}
/* selection */
::selection {
  color: #62a5fb;
  background-color:#0d213a ;
}

